<app-navbar></app-navbar>
<div class="container">
  <p class="header">Visual assessment</p>
  <div class="content-body" cdkDropListGroup>
    <div class="play-body">
      <aside>
        <mat-card class="card-class">
          <p class="secondary-header">Components</p>
          <div
            class="example-list"
            cdkDropList
            [cdkDropListData]="images"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let image of images">
              <img cdkDrag [src]="image" [alt]="image" class="component-img" />
            </div>
          </div>
        </mat-card>
      </aside>
      <section>
        <mat-card class="card-class-2">
          <p class="secondary-header">
            Complete this diagram based on Symmetric encryption
          </p>
          <div class="drop-box">
            <div class="example-list">
              <div class="example-box">
                <img
                  cdkDrag
                  src="assets/img/Symmetric encryption/blank.png"
                  alt="image"
                  class="component-img"
                />
              </div>
            </div>
            <!--
            -->
            <div class="example-list">
              <div class="example-box">
                <img
                  cdkDrag
                  src="assets/img/Symmetric encryption/top left.png"
                  alt="top left"
                  class="component-img"
                />
              </div>
            </div>
            <div
              class="example-list"
              cdkDropList
              [cdkDropListData]="same_key"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let image of same_key">
                <img
                  cdkDrag
                  [src]="image"
                  [alt]="image"
                  class="component-img"
                />
              </div>
            </div>
            <div class="example-list">
              <div class="example-box">
                <img
                  src="assets/img/Symmetric encryption/top right.png"
                  alt="top right"
                  class="component-img"
                />
              </div>
            </div>
            <div class="example-list">
              <div class="example-box">
                <img
                  src="assets/img/Symmetric encryption/blank.png"
                  alt="image"
                  class="component-img"
                />
              </div>
            </div>
            <div class="example-list">
              <div class="example-box">
                <img
                  src="assets/img/Symmetric encryption/blank.png"
                  alt="image"
                  class="component-img"
                />
              </div>
            </div>
            <div
              class="example-list"
              cdkDropList
              [cdkDropListData]="secret_key"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let image of secret_key">
                <img
                  cdkDrag
                  [src]="image"
                  [alt]="image"
                  class="component-img"
                />
              </div>
            </div>
            <div class="example-list">
              <div class="example-box">
                <img
                  src="assets/img/Symmetric encryption/blank.png"
                  alt="image"
                  class="component-img"
                />
              </div>
            </div>
            <div
              class="example-list"
              cdkDropList
              [cdkDropListData]="secret_key2"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let image of secret_key2">
                <img
                  cdkDrag
                  [src]="image"
                  [alt]="image"
                  class="component-img"
                />
              </div>
            </div>
            <div class="example-list">
              <div class="example-box">
                <img
                  src="assets/img/Symmetric encryption/blank.png"
                  alt="image"
                  class="component-img"
                />
              </div>
            </div>
            <div class="example-list">
              <div class="example-box">
                <img
                  src="assets/img/Symmetric encryption/plain text.png"
                  alt="image"
                  class="component-img"
                />
              </div>
            </div>
            <div
              class="example-list"
              cdkDropList
              [cdkDropListData]="encryption"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let image of encryption">
                <img
                  cdkDrag
                  [src]="image"
                  [alt]="image"
                  class="component-img"
                />
              </div>
            </div>
            <div class="example-list">
              <div class="example-box">
                <img
                  src="assets/img/Symmetric encryption/cipher text.png"
                  alt="image"
                  class="component-img"
                />
              </div>
            </div>
            <div
              class="example-list"
              cdkDropList
              [cdkDropListData]="decryption"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let image of decryption">
                <img
                  cdkDrag
                  [src]="image"
                  [alt]="image"
                  class="component-img"
                />
              </div>
            </div>
            <div class="example-list">
              <div class="example-box">
                <img
                  src="assets/img/Symmetric encryption/plain text.png"
                  alt="image"
                  class="component-img"
                />
              </div>
            </div>
          </div>
          <mat-card-actions class="button-class">
            <button
              mat-raised-button
              color="primary"
              class="checkbtn"
              [style.width.px]="200"
              (click)="
                check(decryption, encryption, same_key, secret_key, secret_key2)
              "
            >
              <mat-icon>check</mat-icon>
              Check
            </button>
            <button
              mat-raised-button
              color="accent"
              class="resetbtn"
              id="nextButton"
              [style.width.px]="200"
              [disabled]="true"
              (click)="goToAsymmetric()"
            >
              <mat-icon>skip_next</mat-icon>
              Next
            </button>
          </mat-card-actions>
        </mat-card>
      </section>
    </div>
  </div>
</div>
