<app-navbar></app-navbar>
<div class="container">
    <p class="header">Available Modules</p>
    <div class="content-body">
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Introduction to Encryption</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>This module will serve as an introduction to important Encryption concepts and terms</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button class="button-class" [style.width.px]="200">
                    <mat-icon>play_arrow</mat-icon>
                    View Module
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Introduction to Encryption</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>This module will serve as an introduction to important Encryption concepts and terms</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button class="button-class" [style.width.px]="200">
                    <mat-icon>play_arrow</mat-icon>
                    View Module
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
